@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  font-family: 'Poppins';
}


.homepage {
  background-color: #002866;
  height: 100%;
  /* border-: 20%; */
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  background-color: #002866;
}
.nav-logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* background: rgb(255, 202, 0); */
  border-radius: 46%;
  width: 150px;
height: 47.83px;
margin-top: 35px;
}
.navoptions-flex {
  display: flex;
  margin: 37px 0 45px 0;
}
.nav-home {
  border: 2px solid #FFFFFF;
border-radius: 50px;
font-weight: 400;
font-size: 22px;
line-height: 33px;
width: 120px;
height: 41px;
color: #FFFAFA;
text-align: center;
margin-right: 24px;
}
.nav-home:hover {
  background: #EA8F2A;
}
.cart {
  margin-left: 41px;
}
.person {
  margin: 0 19px 0 25px 
}