@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  font-family: 'Poppins';
}


.homepage {
  background-color: #002866;
  height: 100%;
  /* border-: 20%; */
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.nav-logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* background: rgb(255, 202, 0); */
  border-radius: 46%;
  width: 150px;
height: 47.83px;
}